.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background-color: var(--ifm-background-surface-color);
}

.featuresHeader {
  text-align: center;
  margin-bottom: 3rem;
}

.featuresHeader h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.featuresHeader p {
  font-size: 1.25rem;
  color: var(--ifm-color-emphasis-700);
}

.featureIcon {
  font-size: 4rem;
  margin-bottom: 1rem;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features .row {
  margin-top: 2rem;
}

.features .col {
  margin-bottom: 2rem;
}

@media screen and (max-width: 996px) {
  .features {
    padding: 2rem 0;
  }
  
  .featuresHeader h2 {
    font-size: 2rem;
  }
  
  .featuresHeader p {
    font-size: 1rem;
  }
  
  .featureIcon {
    font-size: 3rem;
    height: 100px;
  }
}
