.codeExample {
  padding: 4rem 0;
  background-color: var(--ifm-color-emphasis-100);
}

.codeExampleHeader {
  text-align: center;
  margin-bottom: 2rem;
}

.codeExampleHeader h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.codeExampleHeader p {
  font-size: 1.25rem;
  color: var(--ifm-color-emphasis-700);
}

.codeBlock {
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (max-width: 996px) {
  .codeExample {
    padding: 2rem 0;
  }
  
  .codeExampleHeader h2 {
    font-size: 2rem;
  }
  
  .codeExampleHeader p {
    font-size: 1rem;
  }
}
